
  .container1 {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.is-invalid {
    border-color: #dc3545 !important;
}

.text-danger {
    color: #dc3545;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn1 {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #bd2130;
}
