<div class="container1" *ngIf="state">
    <h2>Post Here</h2>
    <form [formGroup]="postForm" (ngSubmit)="onPost()">
        <div class="form-group">
            <label>Username</label>
            <input [class.is-invalid]="postForm.get('userName')?.invalid && postForm.get('userName')?.touched" formControlName="userName" type="text" class="form-control">
            <div *ngIf="postForm.get('userName')?.invalid && postForm.get('userName')?.touched">
                <small *ngIf="postForm.get('userName')?.errors?.['required']" class="text-danger">userName is Required</small>
                <small *ngIf="postForm.get('userName')?.errors?.['minlength']" class="text-danger">userName must be atleast 4 characters</small>
            </div>
        </div>
        <div class="from-group">
        <button type="button" (click)="checkUser()" class="btn">Enter</button>
        <small *ngIf="!exist && b" class="text-danger">user not found</small>
        </div>
        {{exist}}
        <div class="from-group" *ngIf="exist">
            <div class="g1">
            <label>Title</label>
            <input [class.is-invalid]="postForm.get('title')?.invalid && postForm.get('title')?.touched" formControlName="title" type="text" class="form-control">
            <small *ngIf="postForm.get('title')?.errors?.['required'] && postForm.get('title')?.touched" class="text-danger">Title is Required</small>
            </div>
        </div>
        <div class="from-group" *ngIf="exist">
            <div class="g1">
            <label>Description</label>
            <input [class.is-invalid]="postForm.get('desc')?.invalid && postForm.get('desc')?.touched" formControlName="desc" type="text" class="form-control">
            <small *ngIf="postForm.get('desc')?.errors?.['required'] && postForm.get('desc')?.touched" class="text-danger">Description is Required</small>
        </div>
        </div>
        <div class="b">
        <button [class.disabled]="postForm.invalid" class="btn" type="submit">Post Here</button>
        </div>
    </form>
</div>
<div *ngIf="istate"><h2>Thank you for Posting</h2></div>

